<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Bienvenue sur mes ToDo List</h1>
    <a href="/tasks">ToDo List Louis-Valentin Charvet</a>
</body>

</html>